<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @battle_pet.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @battle_pet.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @battle_pet.about %>
</p>

<p>
  <strong>Image:</strong>
  <%= @battle_pet.image %>
</p>

<p>
  <strong>Level:</strong>
  <%= @battle_pet.level %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @battle_pet.experience %>
</p>

<p>
  <strong>Won:</strong>
  <%= @battle_pet.won %>
</p>

<p>
  <strong>Lost:</strong>
  <%= @battle_pet.lost %>
</p>

<p>
  <strong>Tied:</strong>
  <%= @battle_pet.tied %>
</p>

<p>
  <strong>Town:</strong>
  <%= @battle_pet.town %>
</p>

<p>
  <strong>Planet:</strong>
  <%= @battle_pet.planet %>
</p>

<p>
  <strong>Galaxy:</strong>
  <%= @battle_pet.galaxy %>
</p>

<p>
  <strong>Retired:</strong>
  <%= @battle_pet.retired %>
</p>

<p>
  <strong>Auto accept play for points requests:</strong>
  <%= @battle_pet.auto_accept_play_for_points_requests %>
</p>

<p>
  <strong>Status:</strong>
  <%= @battle_pet.status %>
</p>

<p>
  <strong>Current owner:</strong>
  <%= @battle_pet.account_id %>
</p>

<p>
  <strong>Previous owner:</strong>
  <%= @battle_pet.previous_owner_id %>
</p>

<p>
  <strong>Original owner:</strong>
  <%= @battle_pet.original_owner_id %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @battle_pet.strength %>
</p>

<p>
  <strong>Agility:</strong>
  <%= @battle_pet.agility %>
</p>

<p>
  <strong>Wit:</strong>
  <%= @battle_pet.wit %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @battle_pet.speed %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @battle_pet.wisdom %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @battle_pet.intelligence %>
</p>

<p>
  <strong>Magic:</strong>
  <%= @battle_pet.magic %>
</p>

<p>
  <strong>Chi:</strong>
  <%= @battle_pet.chi %>
</p>

<p>
  <strong>Healing power:</strong>
  <%= @battle_pet.healing_power %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @battle_pet.updated_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @battle_pet.updated_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @battle_pet.created_at %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @battle_pet.created_by %>
</p>

<%= link_to 'Edit', edit_battle_pet_path(@battle_pet) %> |
<%= link_to 'Back', battle_pets_path %>
