<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @account.username %>
</p>

<p>
  <strong>About:</strong>
  <%= @account.about %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>UserId:</strong>
  <%= @account.user_id %>
</p>


<p>
  <strong>Image:</strong>
  <%= @account.image %>
</p>

<p>
  <strong>Level:</strong>
  <%= @account.level %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @account.experience %>
</p>

<p>
  <strong>Gold:</strong>
  <%= @account.gold %>
</p>

<p>
  <strong>Won:</strong>
  <%= @account.won %>
</p>

<p>
  <strong>Lost:</strong>
  <%= @account.lost %>
</p>

<p>
  <strong>Tied:</strong>
  <%= @account.tied %>
</p>

<p>
  <strong>Town:</strong>
  <%= @account.town %>
</p>

<p>
  <strong>Planet:</strong>
  <%= @account.planet %>
</p>

<p>
  <strong>Galaxy:</strong>
  <%= @account.galaxy %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @account.updated_at %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @account.updated_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @account.created_at %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @account.created_by %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
